.topic-img{
width:100%;
max-height:300px;
object-fit:cover;
border-radius:10px;
margin-bottom:15px;
}

#contentBox h3{
color:#007bff;
border-left:6px solid #00c6ff;
padding-left:10px;
margin-top:20px;
}

#contentBox p{
background:#f4f9ff;
padding:12px;
border-radius:8px;
line-height:1.6;
}

